---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Atari muzeum">
    <div
        class="w-full h-full flex flex-col justify-center items-center mt-8"
        style="margin-top: 8rem;"
    >
        <a href="/" class="text-6xl text-red-800">Strona nie istnieje!</a>
        <a href="/" class="text-2xl underline">Wróć na stronę główną</a>
    </div>
</Layout>
