---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../utils/supabase";

const { cookies } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

let session;
if (accessToken && refreshToken) {
    try {
        session = await supabase.auth.setSession({
            refresh_token: refreshToken.value,
            access_token: accessToken.value,
        });

        if (session.error) {
            Astro.cookies.delete("accessToken", {
                path: "/",
            });
            Astro.cookies.delete("refreshToken", {
                path: "/",
            });

            // return Astro.redirect("/login");
        }
    } catch (error) {
        Astro.cookies.delete("accessToken", {
            path: "/",
        });
        Astro.cookies.delete("refreshToken", {
            path: "/",
        });

        // return Astro.redirect("/login");
    }
}
---

<Layout title="Atari muzeum">
    <div class="h-screen pt-12">
        <div class="w-full flex flex-col justify-center items-center mt-8">
            <a href="/" class="text-6xl text-red-800">Strona nie istnieje!</a>
            <a href="/" class="text-2xl underline">Wróć na stronę główną</a>
        </div>
    </div>
</Layout>
