---
import Layout from "../layouts/Layout.astro";
import FullPhoneEntry from "../components/FullPhoneEntry";
import { supabase } from "./../utils/supabase";

interface PhoneData {
    id: number;
    producent: string;
    model: string;
    oznaczenie: string;
    kolor: string;
    sprawny: boolean;
    stan: string;
    numer_seryjny: string;
    kraj: string;
    jezyk: string;
    simlock: string;
    uwagi: string;
    opakowanie: boolean;
    rok_produkcji: Date;
    zdarzenie: string;
    model_baterii: string;
    made: Date;
    life_timer: string;
    posiadany: boolean;
}

const params = Astro.url.searchParams;
const id = params.get("id");

const { data: pData, error: phoneError } = await supabase
    .from("telefony")
    .select()
    .eq("id", id);
const phoneData = pData as PhoneData[];
if (phoneError) console.error(phoneError);

const { data: imageNamesFetch, error: imagesError } = await supabase.storage
    .from("images")
    .list("telefony/" + id);

if (imagesError) console.error(imagesError);
const imageNames = imageNamesFetch?.map((image) => image.name) || [];

const imageUrls = imageNames?.map((imageName) => {
    const { data: image } = supabase.storage
        .from("images")
        .getPublicUrl(`telefony/${id}/${imageName}`);
    return image.publicUrl;
});
---

<Layout title="Atari muzeum">
    <div class="flex justify-center flex-row min-h-full">
        <div class="flex flex-col w-1/6 min-w-60 p-4">
            <div
                class="flex flex-row w-full gap-4 flex-wrap h-full 2xl:justify-center"
            >
                {
                    phoneData &&
                        phoneData.map((item: PhoneData) => {
                            return <FullPhoneEntry data={item} />;
                        })
                }
            </div>
            {
                imageUrls &&
                    imageUrls.map((url) => {
                        return (
                            <img src={url} alt="image" class="w-1/2 h-1/2" />
                        );
                    })
            }
        </div>
    </div>
</Layout>
