---
import Layout from "../layouts/Layout.astro";
import FullPhoneEntry from "../components/FullPhoneEntry";

interface PhoneData {
    id: number;
    producent: string;
    model: string;
    oznaczenie: string;
    kolor: string;
    sprawny: boolean;
    stan: string;
    numer_seryjny: string;
    kraj: string;
    jezyk: string;
    simlock: string;
    uwagi: string;
    opakowanie: boolean;
    rok_produkcji: Date;
    zdarzenie: string;
    model_baterii: string;
    made: Date;
    life_timer: string;
    posiadany: boolean;
}

const params = Astro.url.searchParams;
const id = params.get('id');

const response = await fetch(import.meta.env.API_URL + "/telefony?id=eq." + id, {
    headers: {
        apikey: import.meta.env.API_KEY,
    },
});

const data = await response.json();

const image = await fetch("https://bulngrtrwzotkyasnwml.supabase.co/functions/v1/get-images?id=eq." + id, {
    headers: {
        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1bG5ncnRyd3pvdGt5YXNud21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTEzOTMxMDcsImV4cCI6MjAyNjk2OTEwN30.5rlOWe79b8gNHPHet3L6Le56XFU27hX_yG5BfoNdK00'
    },
});

const imageData = image;
console.log(imageData);
---
<Layout title="Atari muzeum">
    <div class="flex justify-center flex-row min-h-full">
        <div class="flex flex-col w-1/6 min-w-60 p-4">
            <div
            class="flex flex-row w-full gap-4 flex-wrap h-full 2xl:justify-center"
        >
            {
                data &&
                    data.map((item: PhoneData) => {
                        return <FullPhoneEntry data={item} />;
                    })
            }
            <img src={imageData} alt="phone" class="w-1/2 h-1/2" />
        </div>
        </div>
    </div>
</Layout>