---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Atari muzeum">
    <div class="w-full h-screen bg-mainBg">
        <Header />
    </div>
</Layout>
