---
import Layout from "../layouts/Layout.astro";
import SubPagesRenderer from "../components/SubPagesRenderer";
import { supabase } from "../utils/supabase";

// TODO:
// - Add auth listener
// - Add auth state to the header
// - Fix auth :D

const { cookies, redirect } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

if (accessToken || refreshToken) {
    const { data: userAuth, error: userAuthError } =
        await supabase.auth.getUser(accessToken?.value);

    if (userAuthError || userAuth.user?.role == undefined) {
        cookies.delete("accessToken");
        cookies.delete("refreshToken");
        return redirect("/signin");
    }
}
---

<Layout title="Atari muzeum">
    <div class="h-screen pt-12">
        <div class="w-full h-full flex flex-col">
            <div class="w-full p-4">
                <div class="w-full bg-white border-[3px] border-black">
                    <h1 class="p-4 text-6xl font-pixeledFont">
                        Witaj w Atari muzeum
                    </h1>
                    <p class="p-4 text-3xl">
                        W naszym muzeum znajdziesz wszystko co związane z Atari.
                        Od telefonów, przez akcesoria, po literaturę i
                        statystyki.
                    </p>
                </div>
            </div>
            <div class="subsites"><SubPagesRenderer /></div>
        </div>
    </div>
</Layout>
