---
import LoginUI from "../components/Login";
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

if (accessToken && refreshToken) {
    return redirect("/");
}
---

<Layout title="Logowanie">
    <div class="h-screen pt-12">
        <div class="flex flex-row w-full h-full justify-center">
            <div
                class="mt-10 bg-white border-[3px] border-black p-10 flex flex-col justify-center items-center h-fit"
            >
                <LoginUI client:load />
                <form
                    action="/api/auth/signin"
                    method="post"
                    class="flex flex-row w-full h-full justify-center p-2"
                >
                    <button
                        value="google"
                        name="provider"
                        type="submit"
                        class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded w-3/4"
                        >Zaloguj z google</button
                    >
                </form>
            </div>
        </div>
    </div>
</Layout>
