---
import Layout from "../layouts/Layout.astro";
import PhoneEntry from "../components/PhoneEntry";
import { supabase } from "./../utils/supabase";
import type { PhoneData } from "../utils/interface/PhoneData";
import gearImg from "../assets/gear.png";

const { data, error } = await supabase.from("telefony").select();

if (error) console.error(error);

const { cookies } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

let session;
if (accessToken && refreshToken) {
    try {
        session = await supabase.auth.setSession({
            refresh_token: refreshToken.value,
            access_token: accessToken.value,
        });

        if (session.error) {
            Astro.cookies.delete("accessToken", {
                path: "/",
            });
            Astro.cookies.delete("refreshToken", {
                path: "/",
            });

            // return Astro.redirect("/login");
        }
    } catch (error) {
        Astro.cookies.delete("accessToken", {
            path: "/",
        });
        Astro.cookies.delete("refreshToken", {
            path: "/",
        });

        // return Astro.redirect("/login");
    }
}

const isLogged = accessToken && refreshToken;

// TODO:
// - Add filtering
// - Refactor height styles ehverywhere!
---

<Layout title="Atari muzeum Telefony">
    <div class="h-screen pb-8 pt-12">
        <div class="flex justify-center flex-row h-full">
            <div
                class="flex flex-col w-1/6 p-4 bg-white border-[3px] border-black m-4 h-full"
            >
                <h1 class="text-3xl font-bold">Telefony</h1>
                <p class="text-lg">(tutaj bedzie filtorwanie)</p>
            </div>
            <div
                class="flex flex-row w-full h-full gap-4 flex-wrap 2xl overflow-y-auto mt-4"
            >
                {
                    data &&
                        data.map((item: PhoneData) => {
                            return <PhoneEntry data={item} />;
                        })
                }
            </div>
        </div>
        {
            isLogged && (
                <div class="fixed bottom-4 right-4">
                    <a
                        href="/addPhone"
                        class=" bg-blue-500 text-white p-2 rounded
                    hover:bg-blue-700 hover:text-white"
                    >
                        Dodaj telefon
                    </a>
                    {/* <button
                        class=" bg-transparent text-white p-2 rounded
                    hover:bg-blue-700 hover:text-white"
                    >
                        <img
                            src={gearImg.src}
                            alt="Dodaj telefon"
                            class="w-4 h-4"
                        />
                    </button> */}
                </div>
            )
        }
    </div>
</Layout>
