---
import Layout from "../layouts/Layout.astro";
import RegisterUI from "../components/Register";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

if (accessToken && refreshToken) {
    return redirect("/");
}
---

<Layout title="Rejestracja">
    <div class="h-screen pt-12">
        <div class="flex flex-row w-full h-full justify-center">
            <RegisterUI client:load />
        </div>
    </div>
</Layout>
