---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

if (accessToken && refreshToken) {
    return redirect("/");
}

// TODO:
// - Add error handling on client side using react
---

<Layout title="Logowanie">
    <div class="flex flex-row w-full h-full justify-center">
        <div
            class="mt-10 bg-white border-[3px] border-black p-6 flex flex-col justify-center items-center"
        >
            <h1 class="text-3xl font-bold">Zaloguj sie</h1>
            <p class="text-xl">
                Nowy tutaj? <a
                    href="/register"
                    class="text-blue-600 underline font-bold hover:text-blue-800 hover:no-underline"
                    >Utworz konto</a
                >
            </p>
            <form
                action="/api/auth/signin"
                method="post"
                class="flex flex-col p-2"
            >
                <label for="email">Email:</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="min-w-96 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                />
                <div class="m-2"></div>
                <label for="password">Hasło:</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="min-w-96 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                />
                <div class="w-full flex justify-center mt-4">
                    <button
                        type="submit"
                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded w-3/4"
                        >Login</button
                    >
                </div>
            </form>
        </div>
    </div>
</Layout>
