---
import LoginUI from "../components/Login";
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

if (accessToken && refreshToken) {
    return redirect("/");
}
---

<Layout title="Logowanie">
    <div class="flex flex-row w-full h-full justify-center">
        <LoginUI client:load />
    </div>
</Layout>
