---
import Layout from "../layouts/Layout.astro";
import { supabase } from "./../utils/supabase";

const { cookies } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

let session;
if (accessToken && refreshToken) {
    try {
        session = await supabase.auth.setSession({
            refresh_token: refreshToken.value,
            access_token: accessToken.value,
        });

        if (session.error) {
            Astro.cookies.delete("accessToken", {
                path: "/",
            });
            Astro.cookies.delete("refreshToken", {
                path: "/",
            });

            // return Astro.redirect("/login");
        }
    } catch (error) {
        Astro.cookies.delete("accessToken", {
            path: "/",
        });
        Astro.cookies.delete("refreshToken", {
            path: "/",
        });

        // return Astro.redirect("/login");
    }
}
---

<Layout title="Test">
    <div class="h-screen pt-12">
        <h1>Test</h1>
    </div>
</Layout>
