---
const { passedValue } = Astro.props;
---

<select
    class="w-full"
    name="kraj"
    class="w-full px-3 py-2 border border-gray-300 rounded"
>
    <option disabled selected> -- Wybierz kraj -- </option>
    <option value="US" selected={passedValue === "US" ? true : false}
        >吼 Stany Zjednoczone</option
    >
    <option value="GB" selected={passedValue === "GB" ? true : false}
        > Wielka Brytania</option
    >
    <option value="PL" selected={passedValue === "PL" ? true : false}
        >叼 Polska</option
    >
    <option value="FL" selected={passedValue === "FL" ? true : false}
        > Finlandia</option
    >
    <option style="font-size: 1pt; background-color: #000000;" disabled
        >&nbsp;</option
    >
    <option value="AF" selected={passedValue === "AF" ? true : false}
        > Afganistan</option
    >
    <option value="AL" selected={passedValue === "AL" ? true : false}
        > Albania</option
    >
    <option value="DZ" selected={passedValue === "DZ" ? true : false}
        > Algieria</option
    >
    <option value="AD" selected={passedValue === "AD" ? true : false}
        > Andora</option
    >
    <option value="AO" selected={passedValue === "AO" ? true : false}
        > Angola</option
    >
    <option value="AG" selected={passedValue === "AG" ? true : false}
        > Antigua i Barbuda</option
    >
    <option value="AR" selected={passedValue === "AR" ? true : false}
        > Argentyna</option
    >
    <option value="AM" selected={passedValue === "AM" ? true : false}
        > Armenia</option
    >
    <option value="AU" selected={passedValue === "AU" ? true : false}
        > Australia</option
    >
    <option value="AT" selected={passedValue === "AT" ? true : false}
        > Austria</option
    >
    <option value="AZ" selected={passedValue === "AZ" ? true : false}
        > Azerbejd偶an</option
    >
    <option value="BS" selected={passedValue === "BS" ? true : false}
        >ю Bahamy</option
    >
    <option value="BH" selected={passedValue === "BH" ? true : false}
        >ю Bahrajn</option
    >
    <option value="BD" selected={passedValue === "BD" ? true : false}
        >ю Bangladesz</option
    >
    <option value="BB" selected={passedValue === "BB" ? true : false}
        >ю Barbados</option
    >
    <option value="BE" selected={passedValue === "BE" ? true : false}
        >ю Belgia</option
    >
    <option value="BZ" selected={passedValue === "BZ" ? true : false}
        >ю Belize</option
    >
    <option value="BJ" selected={passedValue === "BJ" ? true : false}
        >ю Benin</option
    >
    <option value="BT" selected={passedValue === "BT" ? true : false}
        >ю Bhutan</option
    >
    <option value="BY" selected={passedValue === "BY" ? true : false}
        >ю Biaoru</option
    >
    <option value="BO" selected={passedValue === "BO" ? true : false}
        >ю Boliwia</option
    >
    <option value="BA" selected={passedValue === "BA" ? true : false}
        >ю Bonia i Hercegowina</option
    >
    <option value="BW" selected={passedValue === "BW" ? true : false}
        >ю Botswana</option
    >
    <option value="BR" selected={passedValue === "BR" ? true : false}
        >ю Brazylia</option
    >
    <option value="BN" selected={passedValue === "BN" ? true : false}
        >ю Brunei</option
    >
    <option value="BG" selected={passedValue === "BG" ? true : false}
        >ю Bugaria</option
    >
    <option value="BF" selected={passedValue === "BF" ? true : false}
        >ю Burkina Faso</option
    >
    <option value="BI" selected={passedValue === "BI" ? true : false}
        >ю Burundi</option
    >
    <option value="CV" selected={passedValue === "CV" ? true : false}
        > Cabo Verde</option
    >
    <option value="CL" selected={passedValue === "CL" ? true : false}
        > Chile</option
    >
    <option value="HR" selected={passedValue === "HR" ? true : false}
        > Chorwacja</option
    >
    <option value="TD" selected={passedValue === "TD" ? true : false}
        >桂 Czad</option
    >
    <option value="ME" selected={passedValue === "ME" ? true : false}
        >拆 Czarnog贸ra</option
    >
    <option value="CZ" selected={passedValue === "CZ" ? true : false}
        > Czechy</option
    >
    <option value="DJ" selected={passedValue === "DJ" ? true : false}
        > D偶ibuti</option
    >
    <option value="DM" selected={passedValue === "DM" ? true : false}
        > Dominika</option
    >
    <option value="DO" selected={passedValue === "DO" ? true : false}
        > Dominikana</option
    >
    <option value="EG" selected={passedValue === "EG" ? true : false}
        > Egipt</option
    >
    <option value="EC" selected={passedValue === "EC" ? true : false}
        > Ekwador</option
    >
    <option value="ER" selected={passedValue === "ER" ? true : false}
        > Erytrea</option
    >
    <option value="EE" selected={passedValue === "EE" ? true : false}
        > Estonia</option
    >
    <option value="SZ" selected={passedValue === "SZ" ? true : false}
        >葛 Eswatini</option
    >
    <option value="ET" selected={passedValue === "ET" ? true : false}
        > Etiopia</option
    >
    <option value="FJ" selected={passedValue === "FJ" ? true : false}
        > Fid偶i</option
    >
    <option value="PH" selected={passedValue === "PH" ? true : false}
        >叼 Filipiny</option
    >
    <option value="FI" selected={passedValue === "FI" ? true : false}
        > Finlandia</option
    >
    <option value="FR" selected={passedValue === "FR" ? true : false}
        > Francja</option
    >
    <option value="GA" selected={passedValue === "GA" ? true : false}
        > Gabon</option
    >
    <option value="GM" selected={passedValue === "GM" ? true : false}
        > Gambia</option
    >
    <option value="GH" selected={passedValue === "GH" ? true : false}
        > Ghana</option
    >
    <option value="GR" selected={passedValue === "GR" ? true : false}
        > Grecja</option
    >
    <option value="GD" selected={passedValue === "GD" ? true : false}
        > Grenada</option
    >
    <option value="GT" selected={passedValue === "GT" ? true : false}
        > Gwatemala</option
    >
    <option value="GW" selected={passedValue === "GW" ? true : false}
        > Gwinea Bissau</option
    >
    <option value="GN" selected={passedValue === "GN" ? true : false}
        > Gwinea</option
    >
    <option value="GY" selected={passedValue === "GY" ? true : false}
        > Gujana</option
    >
    <option value="HT" selected={passedValue === "HT" ? true : false}
        > Haiti</option
    >
    <option value="ES" selected={passedValue === "ES" ? true : false}
        > Hiszpania</option
    >
    <option value="HN" selected={passedValue === "HN" ? true : false}
        > Honduras</option
    >
    <option value="IN" selected={passedValue === "IN" ? true : false}
        > Indie</option
    >
    <option value="ID" selected={passedValue === "ID" ? true : false}
        > Indonezja</option
    >
    <option value="IQ" selected={passedValue === "IQ" ? true : false}
        > Irak</option
    >
    <option value="IR" selected={passedValue === "IR" ? true : false}
        > Iran</option
    >
    <option value="IE" selected={passedValue === "IE" ? true : false}
        > Irlandia</option
    >
    <option value="IS" selected={passedValue === "IS" ? true : false}
        > Islandia</option
    >
    <option value="IL" selected={passedValue === "IL" ? true : false}
        > Izrael</option
    >
    <option value="JM" selected={passedValue === "JM" ? true : false}
        > Jamajka</option
    >
    <option value="JP" selected={passedValue === "JP" ? true : false}
        > Japonia</option
    >
    <option value="YE" selected={passedValue === "YE" ? true : false}
        >攫 Jemen</option
    >
    <option value="JO" selected={passedValue === "JO" ? true : false}
        > Jordania</option
    >
    <option value="KH" selected={passedValue === "KH" ? true : false}
        >梆 Kambod偶a</option
    >
    <option value="CM" selected={passedValue === "CM" ? true : false}
        > Kamerun</option
    >
    <option value="CA" selected={passedValue === "CA" ? true : false}
        > Kanada</option
    >
    <option value="QA" selected={passedValue === "QA" ? true : false}
        >娥 Katar</option
    >
    <option value="KZ" selected={passedValue === "KZ" ? true : false}
        >梆 Kazachstan</option
    >
    <option value="KE" selected={passedValue === "KE" ? true : false}
        >梆 Kenia</option
    >
    <option value="KG" selected={passedValue === "KG" ? true : false}
        >梆 Kirgistan</option
    >
    <option value="KI" selected={passedValue === "KI" ? true : false}
        >梆 Kiribati</option
    >
    <option value="CO" selected={passedValue === "CO" ? true : false}
        > Kolumbia</option
    >
    <option value="KM" selected={passedValue === "KM" ? true : false}
        >梆 Komory</option
    >
    <option value="CG" selected={passedValue === "CG" ? true : false}
        > Kongo</option
    >
    <option value="CD" selected={passedValue === "CD" ? true : false}
        > Kongo (DRK)</option
    >
    <option value="KP" selected={passedValue === "KP" ? true : false}
        >梆 Korea P贸nocna</option
    >
    <option value="KR" selected={passedValue === "KR" ? true : false}
        >梆 Korea Poudniowa</option
    >
    <option value="CR" selected={passedValue === "CR" ? true : false}
        > Kostaryka</option
    >
    <option value="CU" selected={passedValue === "CU" ? true : false}
        > Kuba</option
    >
    <option value="KW" selected={passedValue === "KW" ? true : false}
        >梆 Kuwejt</option
    >
    <option value="LA" selected={passedValue === "LA" ? true : false}
        >别 Laos</option
    >
    <option value="LS" selected={passedValue === "LS" ? true : false}
        >别 Lesotho</option
    >
    <option value="LB" selected={passedValue === "LB" ? true : false}
        >别 Liban</option
    >
    <option value="LR" selected={passedValue === "LR" ? true : false}
        >别 Liberia</option
    >
    <option value="LY" selected={passedValue === "LY" ? true : false}
        >别 Libia</option
    >
    <option value="LI" selected={passedValue === "LI" ? true : false}
        >别 Liechtenstein</option
    >
    <option value="LT" selected={passedValue === "LT" ? true : false}
        >别 Litwa</option
    >
    <option value="LU" selected={passedValue === "LU" ? true : false}
        >别 Luksemburg</option
    >
    <option value="LV" selected={passedValue === "LV" ? true : false}
        >别 otwa</option
    >
    <option value="MK" selected={passedValue === "MK" ? true : false}
        >拆 Macedonia P贸nocna</option
    >
    <option value="MG" selected={passedValue === "MG" ? true : false}
        >拆 Madagaskar</option
    >
    <option value="MW" selected={passedValue === "MW" ? true : false}
        >拆 Malawi</option
    >
    <option value="MV" selected={passedValue === "MV" ? true : false}
        >拆 Malediwy</option
    >
    <option value="MY" selected={passedValue === "MY" ? true : false}
        >拆 Malezja</option
    >
    <option value="ML" selected={passedValue === "ML" ? true : false}
        >拆 Mali</option
    >
    <option value="MT" selected={passedValue === "MT" ? true : false}
        >拆 Malta</option
    >
    <option value="MA" selected={passedValue === "MA" ? true : false}
        >拆 Maroko</option
    >
    <option value="MH" selected={passedValue === "MH" ? true : false}
        >拆 Wyspy Marshalla</option
    >
    <option value="MR" selected={passedValue === "MR" ? true : false}
        >拆 Mauretania</option
    >
    <option value="MU" selected={passedValue === "MU" ? true : false}
        >拆 Mauritius</option
    >
    <option value="MX" selected={passedValue === "MX" ? true : false}
        >拆 Meksyk</option
    >
    <option value="FM" selected={passedValue === "FM" ? true : false}
        > Mikronezja</option
    >
    <option value="MD" selected={passedValue === "MD" ? true : false}
        >拆 Modawia</option
    >
    <option value="MN" selected={passedValue === "MN" ? true : false}
        >拆 Mongolia</option
    >
    <option value="MZ" selected={passedValue === "MZ" ? true : false}
        >拆 Mozambik</option
    >
    <option value="NA" selected={passedValue === "NA" ? true : false}
        >仇 Namibia</option
    >
    <option value="NR" selected={passedValue === "NR" ? true : false}
        >仇 Nauru</option
    >
    <option value="NP" selected={passedValue === "NP" ? true : false}
        >仇 Nepal</option
    >
    <option value="DE" selected={passedValue === "DE" ? true : false}
        > Niemcy</option
    >
    <option value="NE" selected={passedValue === "NE" ? true : false}
        >仇 Niger</option
    >
    <option value="NG" selected={passedValue === "NG" ? true : false}
        >仇 Nigeria</option
    >
    <option value="NI" selected={passedValue === "NI" ? true : false}
        >仇 Nikaragua</option
    >
    <option value="NO" selected={passedValue === "NO" ? true : false}
        >仇 Norwegia</option
    >
    <option value="NZ" selected={passedValue === "NZ" ? true : false}
        >仇 Nowa Zelandia</option
    >
    <option value="OM" selected={passedValue === "OM" ? true : false}
        >答 Oman</option
    >
    <option value="PK" selected={passedValue === "PK" ? true : false}
        >叼 Pakistan</option
    >
    <option value="PW" selected={passedValue === "PW" ? true : false}
        >叼 Palau</option
    >
    <option value="PA" selected={passedValue === "PA" ? true : false}
        >叼 Panama</option
    >
    <option value="PG" selected={passedValue === "PG" ? true : false}
        >叼 Papua-Nowa Gwinea</option
    >
    <option value="PY" selected={passedValue === "PY" ? true : false}
        >叼 Paragwaj</option
    >
    <option value="PE" selected={passedValue === "PE" ? true : false}
        >叼 Peru</option
    >
    <option value="PL" selected={passedValue === "PL" ? true : false}
        >叼 Polska</option
    >
    <option value="PT" selected={passedValue === "PT" ? true : false}
        >叼 Portugalia</option
    >
    <option value="CG" selected={passedValue === "CG" ? true : false}
        > Republika Konga</option
    >
    <option value="KR" selected={passedValue === "KR" ? true : false}
        >梆 Republika Korei</option
    >
    <option value="MK" selected={passedValue === "MK" ? true : false}
        >拆 Republika Macedonii P贸nocnej</option
    >
    <option value="MD" selected={passedValue === "MD" ? true : false}
        >拆 Republika Modawii</option
    >
    <option value="RO" selected={passedValue === "RO" ? true : false}
        >佛 Rumunia</option
    >
    <option value="RW" selected={passedValue === "RW" ? true : false}
        >佛 Rwanda</option
    >
    <option value="EH" selected={passedValue === "EH" ? true : false}
        > Sahara Zachodnia</option
    >
    <option value="KN" selected={passedValue === "KN" ? true : false}
        >梆 Saint Kitts i Nevis</option
    >
    <option value="LC" selected={passedValue === "LC" ? true : false}
        >别 Saint Lucia</option
    >
    <option value="VC" selected={passedValue === "VC" ? true : false}
        >火 Saint Vincent i Grenadyny</option
    >
    <option value="SV" selected={passedValue === "SV" ? true : false}
        >葛 Salwador</option
    >
    <option value="WS" selected={passedValue === "WS" ? true : false}
        >拣 Samoa</option
    >
    <option value="SM" selected={passedValue === "SM" ? true : false}
        >葛 San Marino</option
    >
    <option value="SN" selected={passedValue === "SN" ? true : false}
        >葛 Senegal</option
    >
    <option value="RS" selected={passedValue === "RS" ? true : false}
        >佛 Serbia</option
    >
    <option value="SC" selected={passedValue === "SC" ? true : false}
        >葛 Seszele</option
    >
    <option value="SL" selected={passedValue === "SL" ? true : false}
        >葛 Sierra Leone</option
    >
    <option value="SG" selected={passedValue === "SG" ? true : false}
        >葛 Singapur</option
    >
    <option value="SK" selected={passedValue === "SK" ? true : false}
        >葛 Sowacja</option
    >
    <option value="SI" selected={passedValue === "SI" ? true : false}
        >葛 Sowenia</option
    >
    <option value="SO" selected={passedValue === "SO" ? true : false}
        >葛 Somalia</option
    >
    <option value="SD" selected={passedValue === "SD" ? true : false}
        >葛 Sudan</option
    >
    <option value="SS" selected={passedValue === "SS" ? true : false}
        >葛 Sudan Poudniowy</option
    >
    <option value="SR" selected={passedValue === "SR" ? true : false}
        >葛 Surinam</option
    >
    <option value="SY" selected={passedValue === "SY" ? true : false}
        >葛 Syria</option
    >
    <option value="CH" selected={passedValue === "CH" ? true : false}
        > Szwajcaria</option
    >
    <option value="SE" selected={passedValue === "SE" ? true : false}
        >葛 Szwecja</option
    >
    <option value="TJ" selected={passedValue === "TJ" ? true : false}
        >桂 Tad偶ykistan</option
    >
    <option value="TH" selected={passedValue === "TH" ? true : false}
        >桂 Tajlandia</option
    >
    <option value="TZ" selected={passedValue === "TZ" ? true : false}
        >桂 Tanzania</option
    >
    <option value="TG" selected={passedValue === "TG" ? true : false}
        >桂 Togo</option
    >
    <option value="TO" selected={passedValue === "TO" ? true : false}
        >桂 Tonga</option
    >
    <option value="TT" selected={passedValue === "TT" ? true : false}
        >桂 Trynidad i Tobago</option
    >
    <option value="TN" selected={passedValue === "TN" ? true : false}
        >桂 Tunezja</option
    >
    <option value="TR" selected={passedValue === "TR" ? true : false}
        >桂 Turcja</option
    >
    <option value="TM" selected={passedValue === "TM" ? true : false}
        >桂 Turkmenistan</option
    >
    <option value="TV" selected={passedValue === "TV" ? true : false}
        >桂 Tuvalu</option
    >
    <option value="UG" selected={passedValue === "UG" ? true : false}
        >吼 Uganda</option
    >
    <option value="UA" selected={passedValue === "UA" ? true : false}
        >吼 Ukraina</option
    >
    <option value="UY" selected={passedValue === "UY" ? true : false}
        >吼 Urugwaj</option
    >
    <option value="UZ" selected={passedValue === "UZ" ? true : false}
        >吼 Uzbekistan</option
    >
    <option value="VU" selected={passedValue === "VU" ? true : false}
        >火 Vanuatu</option
    >
    <option value="VA" selected={passedValue === "VA" ? true : false}
        >火 Watykan</option
    >
    <option value="VE" selected={passedValue === "VE" ? true : false}
        >火 Wenezuela</option
    >
    <option value="HU" selected={passedValue === "HU" ? true : false}
        > Wgry</option
    >
    <option value="GB" selected={passedValue === "GB" ? true : false}
        > Wielka Brytania</option
    >
    <option value="VN" selected={passedValue === "VN" ? true : false}
        >火 Wietnam</option
    >
    <option value="IT" selected={passedValue === "IT" ? true : false}
        > Wochy</option
    >
    <option value="ZR" selected={passedValue === "ZR" ? true : false}
        >筐 Zambia</option
    >
    <option value="ZW" selected={passedValue === "ZW" ? true : false}
        >筐 Zimbabwe</option
    >
    <option value="AE" selected={passedValue === "AE" ? true : false}
        > Zjednoczone Emiraty Arabskie</option
    >
</select>
