<select class="w-full" name="kraj" class="w-full px-3 py-2 border border-gray-300 rounded">
    <option disabled selected> -- Wybierz kraj -- </option>
    <option value="US">吼 Stany Zjednoczone</option>
    <option value="GB"> Wielka Brytania</option>
    <option value="PL">叼 Polska</option>
    <option value="FL"> Finlandia</option>
    <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
    <option value="AF"> Afganistan</option>
    <option value="AL"> Albania</option>
    <option value="DZ"> Algieria</option>
    <option value="AD"> Andora</option>
    <option value="AO"> Angola</option>
    <option value="AG"> Antigua i Barbuda</option>
    <option value="AR"> Argentyna</option>
    <option value="AM"> Armenia</option>
    <option value="AU"> Australia</option>
    <option value="AT"> Austria</option>
    <option value="AZ"> Azerbejd偶an</option>
    <option value="BS">ю Bahamy</option>
    <option value="BH">ю Bahrajn</option>
    <option value="BD">ю Bangladesz</option>
    <option value="BB">ю Barbados</option>
    <option value="BE">ю Belgia</option>
    <option value="BZ">ю Belize</option>
    <option value="BJ">ю Benin</option>
    <option value="BT">ю Bhutan</option>
    <option value="BY">ю Biaoru</option>
    <option value="BO">ю Boliwia</option>
    <option value="BA">ю Bonia i Hercegowina</option>
    <option value="BW">ю Botswana</option>
    <option value="BR">ю Brazylia</option>
    <option value="BN">ю Brunei</option>
    <option value="BG">ю Bugaria</option>
    <option value="BF">ю Burkina Faso</option>
    <option value="BI">ю Burundi</option>
    <option value="CV"> Cabo Verde</option>
    <option value="CL"> Chile</option>
    <option value="HR"> Chorwacja</option>
    <option value="TD">桂 Czad</option>
    <option value="ME">拆 Czarnog贸ra</option>
    <option value="CZ"> Czechy</option>
    <option value="DJ"> D偶ibuti</option>
    <option value="DM"> Dominika</option>
    <option value="DO"> Dominikana</option>
    <option value="EG"> Egipt</option>
    <option value="EC"> Ekwador</option>
    <option value="ER"> Erytrea</option>
    <option value="EE"> Estonia</option>
    <option value="SZ">葛 Eswatini</option>
    <option value="ET"> Etiopia</option>
    <option value="FJ"> Fid偶i</option>
    <option value="PH">叼 Filipiny</option>
    <option value="FI"> Finlandia</option>
    <option value="FR"> Francja</option>
    <option value="GA"> Gabon</option>
    <option value="GM"> Gambia</option>
    <option value="GH"> Ghana</option>
    <option value="GR"> Grecja</option>
    <option value="GD"> Grenada</option>
    <option value="GT"> Gwatemala</option>
    <option value="GW"> Gwinea Bissau</option>
    <option value="GN"> Gwinea</option>
    <option value="GY"> Gujana</option>
    <option value="HT"> Haiti</option>
    <option value="ES"> Hiszpania</option>
    <option value="HN"> Honduras</option>
    <option value="IN"> Indie</option>
    <option value="ID"> Indonezja</option>
    <option value="IQ"> Irak</option>
    <option value="IR"> Iran</option>
    <option value="IE"> Irlandia</option>
    <option value="IS"> Islandia</option>
    <option value="IL"> Izrael</option>
    <option value="JM"> Jamajka</option>
    <option value="JP"> Japonia</option>
    <option value="YE">攫 Jemen</option>
    <option value="JO"> Jordania</option>
    <option value="KH">梆 Kambod偶a</option>
    <option value="CM"> Kamerun</option>
    <option value="CA"> Kanada</option>
    <option value="QA">娥 Katar</option>
    <option value="KZ">梆 Kazachstan</option>
    <option value="KE">梆 Kenia</option>
    <option value="KG">梆 Kirgistan</option>
    <option value="KI">梆 Kiribati</option>
    <option value="CO"> Kolumbia</option>
    <option value="KM">梆 Komory</option>
    <option value="CG"> Kongo</option>
    <option value="CD"> Kongo (DRK)</option>
    <option value="KP">梆 Korea P贸nocna</option>
    <option value="KR">梆 Korea Poudniowa</option>
    <option value="CR"> Kostaryka</option>
    <option value="CU"> Kuba</option>
    <option value="KW">梆 Kuwejt</option>
    <option value="LA">别 Laos</option>
    <option value="LS">别 Lesotho</option>
    <option value="LB">别 Liban</option>
    <option value="LR">别 Liberia</option>
    <option value="LY">别 Libia</option>
    <option value="LI">别 Liechtenstein</option>
    <option value="LT">别 Litwa</option>
    <option value="LU">别 Luksemburg</option>
    <option value="LV">别 otwa</option>
    <option value="MK">拆 Macedonia P贸nocna</option>
    <option value="MG">拆 Madagaskar</option>
    <option value="MW">拆 Malawi</option>
    <option value="MV">拆 Malediwy</option>
    <option value="MY">拆 Malezja</option>
    <option value="ML">拆 Mali</option>
    <option value="MT">拆 Malta</option>
    <option value="MA">拆 Maroko</option>
    <option value="MH">拆 Wyspy Marshalla</option>
    <option value="MR">拆 Mauretania</option>
    <option value="MU">拆 Mauritius</option>
    <option value="MX">拆 Meksyk</option>
    <option value="FM"> Mikronezja</option>
    <option value="MD">拆 Modawia</option>
    <option value="MN">拆 Mongolia</option>
    <option value="MZ">拆 Mozambik</option>
    <option value="NA">仇 Namibia</option>
    <option value="NR">仇 Nauru</option>
    <option value="NP">仇 Nepal</option>
    <option value="DE"> Niemcy</option>
    <option value="NE">仇 Niger</option>
    <option value="NG">仇 Nigeria</option>
    <option value="NI">仇 Nikaragua</option>
    <option value="NO">仇 Norwegia</option>
    <option value="NZ">仇 Nowa Zelandia</option>
    <option value="OM">答 Oman</option>
    <option value="PK">叼 Pakistan</option>
    <option value="PW">叼 Palau</option>
    <option value="PA">叼 Panama</option>
    <option value="PG">叼 Papua-Nowa Gwinea</option>
    <option value="PY">叼 Paragwaj</option>
    <option value="PE">叼 Peru</option>
    <option value="PL">叼 Polska</option>
    <option value="PT">叼 Portugalia</option>
    <option value="CG"> Republika Konga</option>
    <option value="KR">梆 Republika Korei</option>
    <option value="MK">拆 Republika Macedonii P贸nocnej</option>
    <option value="MD">拆 Republika Modawii</option>
    <option value="RO">佛 Rumunia</option>
    <option value="RW">佛 Rwanda</option>
    <option value="EH"> Sahara Zachodnia</option>
    <option value="KN">梆 Saint Kitts i Nevis</option>
    <option value="LC">别 Saint Lucia</option>
    <option value="VC">火 Saint Vincent i Grenadyny</option>
    <option value="SV">葛 Salwador</option>
    <option value="WS">拣 Samoa</option>
    <option value="SM">葛 San Marino</option>
    <option value="SN">葛 Senegal</option>
    <option value="RS">佛 Serbia</option>
    <option value="SC">葛 Seszele</option>
    <option value="SL">葛 Sierra Leone</option>
    <option value="SG">葛 Singapur</option>
    <option value="SK">葛 Sowacja</option>
    <option value="SI">葛 Sowenia</option>
    <option value="SO">葛 Somalia</option>
    <option value="SD">葛 Sudan</option>
    <option value="SS">葛 Sudan Poudniowy</option>
    <option value="SR">葛 Surinam</option>
    <option value="SY">葛 Syria</option>
    <option value="CH"> Szwajcaria</option>
    <option value="SE">葛 Szwecja</option>
    <option value="TJ">桂 Tad偶ykistan</option>
    <option value="TH">桂 Tajlandia</option>
    <option value="TZ">桂 Tanzania</option>
    <option value="TG">桂 Togo</option>
    <option value="TO">桂 Tonga</option>
    <option value="TT">桂 Trynidad i Tobago</option>
    <option value="TN">桂 Tunezja</option>
    <option value="TR">桂 Turcja</option>
    <option value="TM">桂 Turkmenistan</option>
    <option value="TV">桂 Tuvalu</option>
    <option value="UG">吼 Uganda</option>
    <option value="UA">吼 Ukraina</option>
    <option value="UY">吼 Urugwaj</option>
    <option value="UZ">吼 Uzbekistan</option>
    <option value="VU">火 Vanuatu</option>
    <option value="VA">火 Watykan</option>
    <option value="VE">火 Wenezuela</option>
    <option value="HU"> Wgry</option>
    <option value="GB"> Wielka Brytania</option>
    <option value="VN">火 Wietnam</option>
    <option value="IT"> Wochy</option>
    <option value="ZR">筐 Zambia</option>
    <option value="ZW">筐 Zimbabwe</option>
    <option value="AE"> Zjednoczone Emiraty Arabskie</option>
</select>