<div
    class="w-full h-auto bg-white pt-1 pl-2 pb-1 border-b-black border-b-[3px] flex flex-row items-center justify-between"
>
    <h1 class="font-pixeledFont text-2xl font-bold">
        <a href="/">ATARI Muzeum</a>
    </h1>
</div>
