---
import { supabase } from "../utils/supabase";

const { cookies } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

let session;
if (accessToken && refreshToken) {
    try {
        session = await supabase.auth.setSession({
            refresh_token: refreshToken.value,
            access_token: accessToken.value,
        });

        if (session.error) {
            Astro.cookies.delete("accessToken", {
            path: "/",
            });
            Astro.cookies.delete("refreshToken", {
            path: "/",
            });
        }
    } catch (error) {
        Astro.cookies.delete("accessToken", {
            path: "/",
        });
        Astro.cookies.delete("refreshToken", {
            path: "/",
        });
    }
}

const email = session?.data.user?.email;
const show = !(Astro.url.pathname === "/login" || Astro.url.pathname === "/register");

const pageBack: { [key: string]: string } = {
    "/phoneDetails": "/phones",
    "/addPhone": "/phones",
    "/phoneEdit": "/phoneDetails" + Astro.url.search,
    "/editPhonePhotos": "/phoneDetails" + Astro.url.search,
};

const back = pageBack[Astro.url.pathname] ? pageBack[Astro.url.pathname] : "/";
---

<div
    class="w-full h-12 bg-white pt-1 pl-2 pb-1 border-b-black border-b-[3px] flex flex-row items-center justify-between fixed"
>
    <h1 class="font-pixeledFont text-2xl font-bold">
        <a href={back}>ATARI Muzeum</a>
    </h1>
    <div class="flex flex-row mr-2">
        {
            show && (!email ? (
                <a href="/login" class="font-pixeledFont text-xl">Zaloguj</a>
            ) : (
                
                <p class="pr-8 font-pixeledFont text-xl">{email}</p>
                <a href="/api/auth/signout" class="font-pixeledFont text-xl">Wyloguj</a>
            ))
        }
    </div>
</div>
